
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-lg-9">
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                    <img class="card-img rounded-0 img-fluid" src="~/Assets/img/img1.png">

                </div>
                <div class="card-body">
                    <a href="@Url.Action("Index","VanBanDen")" class="h3 text-decoration-none text-center" style="color:#2281e6"><h4>Văn bản</h4></a>
                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li>Soạn thảo và gửi văn bản đến các đơn vị. Đồng thời quản lý bút phê, các văn bản gửi đến, gửi đi và ủy quyền gửi văn bản.</li>
                        <li class="pt-2">

                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                        </li>
                    </ul>
                    <hr />
                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                        <li>
                            <strong> <font color="#ff0000">0</font> văn bản mới</strong>
                            <i class="fa fa-bell"></i>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                    <img class="card-img rounded-0 img-fluid" src="~/Assets/img/img2.png">

                </div>
                <div class="card-body">
                    <a href="" class="h3 text-decoration-none text-center" style="color:#2281e6"><h4>Công việc</h4></a>
                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li>Khởi tạo và quản lý các công việc đã giao, được giao. <br /><br /><br /><br /></li>
                        <li class="pt-2">

                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                        </li>
                    </ul>
                    <hr />
                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                        <li>
                            <strong> <font color="#ff0000">0</font> công việc mới</strong>
                            <i class="fa fa-bell"></i>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                    <img class="card-img rounded-0 img-fluid" src="~/Assets/img/img3.png">

                </div>
                <div class="card-body">
                    <a href="" class="h3 text-decoration-none text-center" style="color:#2281e6"><h4>Thông báo</h4></a>
                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li>Quản lý các thông báo dành cho bạn. <br /><br /><br /><br /><br /></li>
                        <li class="pt-2">

                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                        </li>
                    </ul>
                    <hr />
                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                        <li>
                            <strong> <font color="#ff0000">0</font> thông báo mới</strong>
                            <i class="fa fa-bell"></i>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-4 product-wap rounded-0">
                <div class="card rounded-0">
                    <img class="card-img rounded-0 img-fluid" src="~/Assets/img/img4.png">

                </div>
                <div class="card-body">
                    <a href="" class="h3 text-decoration-none text-center" style="color:#2281e6"><h4>Thống kê</h4></a>
                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <li>Thông kê chi tiết tình trạng gửi, nhận văn bản, thông kê công việc. <br /><br /><br /><br /></li>
                        <li class="pt-2">

                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                        </li>
                    </ul>
                    <hr />
                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                        <li>
                            <a href="#" style="color:#2281e6"><strong>Thống kê ngay</strong></a>
                            <i class="fa fa-gear"></i>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


