
@{
    ViewBag.Title = "Chi tiết văn bản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-9">



    <div class="card">
        <div class="card-header">
            <strong>Chi tiết</strong> văn bản
        </div>

        <div class="row">
            <div class="col-md-5 pb-4" style="margin-left:30px">
                <form action="#" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="" class="pr-1  form-control-label">Tiêu đề</label>
                        <input type="text" class="form-control" placeholder="PHÒNG CHỐNG COVID-19" readonly />
                    </div>

                </form>
            </div>
            <div class="col-md-5 pb-4" style="margin-left:30px">
                <form action="#" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="" class="px-1  form-control-label">Số hiệu</label>
                        <input type="text" class="form-control" placeholder="TB-01" readonly />
                    </div>

                </form>
            </div>

            <div class="col-md-5 pb-4" style="margin-left:30px">
                <form action="#" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="" class="pr-1  form-control-label">Loại</label>
                        <input type="text" class="form-control" placeholder="LVB01" readonly />
                    </div>

                </form>
            </div>

            <div class="col-md-5 pb-4" style="margin-left:30px">
                <form action="#" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="" class="pr-1  form-control-label">Mức độ khẩn</label>
                        <input type="text" class="form-control" placeholder="MDK01     " readonly />
                    </div>

                </form>
            </div>

        </div>
        <div class="row">

            <div class="col-md-5 pb-4" style="margin-left:30px">
                <form action="#" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="" class="px-1  form-control-label">Ngày gửi</label>
                        <input type="text" class="form-control" placeholder="2021-07-07" readonly />
                    </div>

                </form>
            </div>

            <div class="col-md-5 pb-4" style="margin-left:30px">
                <form action="#" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="" class="pr-1  form-control-label">Ngày ban hành</label>
                        <input type="text" class="form-control" placeholder="2021-07-07" readonly />
                    </div>

                </form>
            </div>

        </div>

        <div class="row">

            <div class="col-md-5 pb-4" style="margin-left:30px">
                <form action="#" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="" class="px-1  form-control-label">Ngày có hiệu lực</label>
                        <input type="text" class="form-control" placeholder="2021-07-07" readonly />
                    </div>

                </form>
            </div>

            <div class="col-md-5 pb-4" style="margin-left:30px">
                <form action="#" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="" class="pr-1  form-control-label">Hạn xử lý</label>
                        <input type="text" class="form-control" placeholder="2021-12-12" readonly />
                    </div>

                </form>
            </div>

        </div>

        <div class="row">

            <div class="col-md-5 pb-4" style="margin-left:30px">
                <form action="#" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="" class="px-1  form-control-label">Nơi nhận</label>
                        <input type="text" class="form-control" placeholder="ĐH SPKT" readonly />
                    </div>

                </form>
            </div>

            <div class="col-md-5 pb-4" style="margin-left:30px">
                <form action="#" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="" class="pr-1  form-control-label">Người ký tên</label>
                        <input type="text" class="form-control" placeholder="Võ Duy Khương " readonly />
                    </div>

                </form>
            </div>

        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <strong>Nội dung</strong> văn bản
            </div>
            <div class="row">
                <iframe style="line-height:200px" src="~/File/F01" height="1000" allowfullscreen></iframe>
            </div>
        </div>
    </div>



</div>
