

<div class="col-lg-3">
    <a class="collapsed d-flex h3 text-decoration-none" href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Trang chủ</a>
    <ul class="list-unstyled templatemo-accordion" id="hov">
        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">

                Văn bản
                <i class="pull-right fa fa-sort-down"></i>
            </a>
            <ul class="collapse show list-unstyled pl-3">
                <li><a class="text-decoration-none" href="@Url.Action("Index","VanBanDen")">Văn bản đến</a></li>
                <li><a class="text-decoration-none" href="@Url.Action("Index","VanBanDi")">Văn bản đã gửi</a></li>
                <li><a class="text-decoration-none" href="#">Văn bản bút phê</a></li>
                <li><a class="text-decoration-none" href="@Url.Action("Send","VanBanDi")">Gửi văn bản</a></li>
            </ul>
        </li>
        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Công việc
                <i class="pull-right fa fa-sort-down"></i>
            </a>
            <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                <li><a class="text-decoration-none" href="#">Phân công xử lý văn bản</a></li>
                <li><a class="text-decoration-none" href="#">Công việc được phân công</a></li>

            </ul>
        </li>
        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Thông báo
                <i class="pull-right fa fa-sort-down"></i>
            </a>
            <ul id="collapseThree" class="collapse list-unstyled pl-3">
                <li><a class="text-decoration-none" href="#">Tìm kiếm thông báo</a></li>
                <li><a class="text-decoration-none" href="#">Quản lý thông báo</a></li>
            </ul>
        </li>
        <li class="pb-3">
            <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                Thống kê
            </a>
        </li>
    </ul>
    @{
        var session = (QuanLyVanBan.Common.UserLogin)Session[QuanLyVanBan.Common.CommonConstant.USER_SESSION];
    }
    @if (session.AuthorID == "PQ03      " || session.AuthorID == "PQ02      " || session.AuthorID == "PQ01      ")
    {

        <a class="" href="/NhanVien/Index">
            Quản lý nhân viên
        </a>

    }
</div>
